---
import { parse } from 'node-html-parser';
import MarkdownIt from 'markdown-it';
import dayjs from 'dayjs';
import { getCollection } from 'astro:content';
import PostLayout from '@layouts/PostLayout.astro';
const md = new MarkdownIt();

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map(post => {
		return {
				params: { post: post.slug },
				props: { post },
			}
	});
}
const { post } = Astro.props;
const { Content } = await post.render();

const { title, date } = post.data;
const excerpt = post.data.excerpt || parse(md.render(post.body)).querySelector('p:first-of-type').innerHTML;
---
<PostLayout
	title={title}
	description={excerpt}
>
	<!-- todo: back should link to the post's page -->
	<small style="position: absolute;"><a href="/blog">← Back to Blog</a></small>
	<h1 style="
		margin-bottom: 0.4375rem;
		font-family: 'Montserrat', sans-serif;
	">{title}</h1>
	<small>Published {dayjs(date).format('MMMM D, YYYY')}</small>
	<div style="margin-top: 20px">
		<Content />
	</div>
</PostLayout>