---
import { parse } from 'node-html-parser';
import dayjs from 'dayjs';
import PostLayout from '@layouts/PostLayout.astro';

export async function getStaticPaths() {
	const posts = await Astro.glob('../../content/blog/**/*.md');
	return posts.map(post => {
		return {
				params: { post: post.frontmatter.slug },
				props: { post },
			}
	});
}
const { Content, frontmatter: meta } = Astro.props.post;
const { title, date } = meta;
let { excerpt } = meta;
if(!excerpt) {
	excerpt = parse(await Astro.props.post.compiledContent()).querySelector('p:first-of-type');
}
---
<PostLayout
	title={title}
	description={excerpt}
>
	<!-- todo: back should link to the post's page -->
	<small style="position: absolute;"><a href="/blog">← Back to Blog</a></small>
	<h1 style="
		margin-bottom: 0.4375rem;
		font-family: 'Montserrat', sans-serif;
	">{title}</h1>
	<small>Published {dayjs(date).format('MMMM D, YYYY')}</small>
	<div style="margin-top: 20px">
		<Content />
	</div>
</PostLayout>