.page__footer {
    background: #007acc;
    color: white;
    margin-top: 3.5rem; /* to better match spacing between header and first element */
}

.page__footer a[href] {
    color: white;
}

.page__footer .container {
    max-width: 50rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}