.main-nav {
    display: flex;
    justify-self: flex-end;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-nav li:last-of-type {
    margin: 0;
}

.main-nav a {
    color: white;
    box-shadow: none;
}

.main-nav a.active {
    box-shadow: 0 1px 0 0 currentColor;
}

@media screen and (min-width: 390px){
    .main-nav ul {
        flex-direction: row;
    }

    .main-nav li {
        margin: 0;
    }

    .main-nav li:not(:last-of-type) {
        margin-right: 0.75rem;
        padding-right: 0.75rem;
        border-right: 1px solid;
    }
}