---
import dayjs from 'dayjs';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import PageMeta from '../../../components/PageMeta.astro';

export async function getStaticPaths() {
  const response = await fetch('https://wp.khaosophy.com/wp-json/wp/v2/posts');
  const posts = await response.json();

  return posts.map(post => {
    return {
      params: { post: post.slug },
			props: {
				postTitle: post.title.rendered,
				content: post.content.rendered,
				date: post.date,
				excerpt: post.excerpt.rendered,
			},
    }
  });
}
const { postTitle, content, date, excerpt } = Astro.props;
---
<html lang="en">
<head>
	<PageMeta
		title={postTitle}
		description={excerpt}
	/>
</head>
<body>
	<Header />
	<main>
		<!-- todo: back should link to the post's page -->
		<small style="position: absolute;"><a href="/blog">← Back to Blog</a></small>
		<h1 style="
			margin-bottom: 0.4375rem;
			font-family: 'Montserrat', sans-serif;
		">{postTitle}</h1>
		<small>Published {dayjs(date).format('MMMM D, YYYY')}</small>
		<div style="margin-top: 20px">{content}</div>		
	</main>
	<Footer />
</body>
</html>