.page__header {
    background: #007acc;
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding: 2.5rem 1.5rem;
}

.page__header .container {
    max-width: 50rem;
}

.page__header .main-nav {
    margin-top: 1rem;
}

@media screen and (min-width: 740px){
    /* todo: can this be done better in Grid, so that automatically flows, instead of a breakpoint? */
    .page__header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page__header .main-nav {
        margin-top: 0;
    }
}

.page__title {
    margin: 0;
    font-size: 2rem;
}